<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <style>
        ul {
            list-style-type: none;
        }
    </style>
</head>
<body>
    <div th:class="container">
        <h1>Trivia application</h1>
        <form action="#" th:action="@{/checkanswer}" th:object="${form}" method="post">
            <div th:each="question, itemStat : *{questions}">
                <p th:text="${question.question}">Question</p>
                <ul>
                    <li th:each="incorrectAnswer : ${question.possibleAnswers}">
                        <input type="radio" th:field="*{questions[__${itemStat.index}__].submittedAnswer}" th:value="${incorrectAnswer}" />
                        <label th:text="${incorrectAnswer}">Label</label>
                    </li>
                </ul>
            </div>
            <input class="btn btn-primary" type="submit" th:value="Submit">
        </form>
    </div>
</body>
</html>